# Configuration file
GLOBAL:
    report-file: sorting-report-audio.log
    additional-pgo-file: ../../performance/pgo/audio/target_pt_opts_obfus.txt
    relocate-llvmint-symbols: false

# All text sections.
.text.island:
.text:
.text.common.island:
.text.va.island:

