# Configuration file
GLOBAL:
    report-file: sorting-report-charger.log
    additional-pgo-file: ../../performance/pgo/audio/target_pt_opts_obfus.txt
    relocate-llvmint-symbols: false

# All text sections.
.text:
